.home-header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 20px;
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}